
/* .chart-container {
    position: relative;
    height:25vh;
    width:48vw
} */

/* @media only screen and (min-width: 768px){
    .chart-container {
        position: relative;
        height:50vh;
        width:90vw
    }
} */